In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
%matplotlib inline 
import seaborn as sns

In [2]:
pip install apyori

Requirement already satisfied: apyori in /data/data/ru.iiec.pydroid3/files/aarch64-linux-android/lib/python3.8/site-packages (1.1.2)
WARNING: You are using pip version 20.1.1; however, version 21.1.1 is available.
You should consider upgrading via the '/data/user/0/ru.iiec.pydroid3/files/aarch64-linux-android/bin/python3.8 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [3]:
df = pd.read_csv("../DataSets/Market_Basket_Optimisation.csv", header = None)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7501 entries, 0 to 7500
Data columns (total 20 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       7501 non-null   object
 1   1       5747 non-null   object
 2   2       4389 non-null   object
 3   3       3345 non-null   object
 4   4       2529 non-null   object
 5   5       1864 non-null   object
 6   6       1369 non-null   object
 7   7       981 non-null    object
 8   8       654 non-null    object
 9   9       395 non-null    object
 10  10      256 non-null    object
 11  11      154 non-null    object
 12  12      87 non-null     object
 13  13      47 non-null     object
 14  14      25 non-null     object
 15  15      8 non-null      object
 16  16      4 non-null      object
 17  17      4 non-null      object
 18  18      3 non-null      object
 19  19      1 non-null      object
dtypes: object(20)
memory usage: 1.1+ MB

In [5]:
df.shape

(7501, 20)

In [6]:
df.isna().sum()

0        0
1     1754
2     3112
3     4156
4     4972
5     5637
6     6132
7     6520
8     6847
9     7106
10    7245
11    7347
12    7414
13    7454
14    7476
15    7493
16    7497
17    7497
18    7498
19    7500
dtype: int64

In [7]:
df.fillna(0, inplace = True)

In [8]:
df.isna().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
dtype: int64

In [9]:
# DataFrame to List 

trans = [] 
for i in range(df.shape[0]):
    sub = []
    for j in range(df.shape[1]):
        if str(df.values[i,j]) != '0':
            sub.append(df.values[i,j]) 
        trans.append(sub)

In [10]:
trans[0]

['shrimp',
 'almonds',
 'avocado',
 'vegetables mix',
 'green grapes',
 'whole weat flour',
 'yams',
 'cottage cheese',
 'energy drink',
 'tomato juice',
 'low fat yogurt',
 'green tea',
 'honey',
 'salad',
 'mineral water',
 'salmon',
 'antioxydant juice',
 'frozen smoothie',
 'spinach',
 'olive oil']

In [11]:
# List to List 

trans = [] 

for i in range(df.shape[0]):
    trans.append([str(df.values[i,j]) for j in range(df.shape[1]) if str(df.values[i,j]) != '0'])

In [12]:
trans[0]

['shrimp',
 'almonds',
 'avocado',
 'vegetables mix',
 'green grapes',
 'whole weat flour',
 'yams',
 'cottage cheese',
 'energy drink',
 'tomato juice',
 'low fat yogurt',
 'green tea',
 'honey',
 'salad',
 'mineral water',
 'salmon',
 'antioxydant juice',
 'frozen smoothie',
 'spinach',
 'olive oil']

In [13]:
from apyori import apriori

In [14]:
rules = apriori(trans, min_support = 0.003, min_confidance = 0.2, min_lift = 3, min_length = 2)

In [15]:
rules

In [16]:
df_rules = pd.DataFrame(list(rules))
df_rules.head()

,items,support,ordered_statistics
0,"(brownies, cottage cheese)",0.003466,"[((brownies), (cottage cheese), 0.102766798418..."
1,"(light cream, chicken)",0.004533,"[((chicken), (light cream), 0.0755555555555555..."
2,"(mushroom cream sauce, escalope)",0.005733,"[((escalope), (mushroom cream sauce), 0.072268..."
3,"(pasta, escalope)",0.005866,"[((escalope), (pasta), 0.07394957983193277, 4...."
4,"(tomato juice, fresh bread)",0.004266,"[((fresh bread), (tomato juice), 0.09907120743..."

In [17]:
df_rules["ordered_statistics"]

0     [((brownies), (cottage cheese), 0.102766798418...
1     [((chicken), (light cream), 0.0755555555555555...
2     [((escalope), (mushroom cream sauce), 0.072268...
3     [((escalope), (pasta), 0.07394957983193277, 4....
4     [((fresh bread), (tomato juice), 0.09907120743...
                            ...
89    [((pancakes, ground beef), (mineral water, spa...
90    [((ground beef), (tomatoes, mineral water, spa...
91    [((olive oil), (milk, mineral water, spaghetti...
92    [((milk, mineral water), (shrimp, spaghetti), ...
93    [((tomatoes), (milk, mineral water, spaghetti)...
Name: ordered_statistics, Length: 94, dtype: object

In [18]:
lhs = []
rhs = []
conf = [] 
lift = []

for i in range(df_rules.shape[0]):
    order_stat = df_rules["ordered_statistics"][i][0]
    lhs.append(list(order_stat[0]))
    rhs.append(order_stat[1]) 
    conf.append(order_stat[2])
    lift.append(order_stat[3])

In [19]:
final_report = pd.DataFrame({"LHS":lhs, "RHS":rhs, "Support":df_rules.support, "Confidance":conf, "Lift":lift})
final_report

,LHS,RHS,Support,Confidance,Lift
0,[brownies],(cottage cheese),0.003466,0.102767,3.225330
1,[chicken],(light cream),0.004533,0.075556,4.843951
2,[escalope],(mushroom cream sauce),0.005733,0.072269,3.790833
3,[escalope],(pasta),0.005866,0.073950,4.700812
4,[fresh bread],(tomato juice),0.004266,0.099071,3.259356
...,...,...,...,...,...
89,"[pancakes, ground beef]","(mineral water, spaghetti)",0.003066,0.211009,3.532991
90,[ground beef],"(tomatoes, mineral water, spaghetti)",0.003066,0.031208,3.344117
91,[olive oil],"(milk, mineral water, spaghetti)",0.003333,0.050607,3.216994
92,"[milk, mineral water]","(shrimp, spaghetti)",0.003066,0.063889,3.014029
93,[tomatoes],"(milk, mineral water, spaghetti)",0.003333,0.048733,3.097846

In [20]:
final_report.sort_values(by = "Confidance")

,LHS,RHS,Support,Confidance,Lift
55,[milk],"(tomatoes, soup)",0.003066,0.023663,3.413323
52,[milk],"(shrimp, olive oil)",0.003200,0.024691,3.036227
12,[milk],"(avocado, spaghetti)",0.003333,0.025720,3.215449
53,[milk],"(olive oil, soup)",0.003600,0.027778,3.109867
75,[milk],"(mineral water, eggs, frozen vegetables)",0.003733,0.028807,3.177620
...,...,...,...,...,...
9,[light cream],(olive oil),0.003200,0.205128,3.114710
50,[light cream],"(mineral water, spaghetti)",0.003200,0.205128,3.434524
89,"[pancakes, ground beef]","(mineral water, spaghetti)",0.003066,0.211009,3.532991
6,[fromage blanc],(honey),0.003333,0.245098,5.164271
11,[pasta],(shrimp),0.005066,0.322034,4.506672

In [23]:
final_report[final_report["Confidance"] >= 0.2]

,LHS,RHS,Support,Confidance,Lift
6,[fromage blanc],(honey),0.003333,0.245098,5.164271
9,[light cream],(olive oil),0.003200,0.205128,3.114710
11,[pasta],(shrimp),0.005066,0.322034,4.506672
50,[light cream],"(mineral water, spaghetti)",0.003200,0.205128,3.434524
87,"[milk, ground beef]","(mineral water, spaghetti)",0.004399,0.200000,3.348661
89,"[pancakes, ground beef]","(mineral water, spaghetti)",0.003066,0.211009,3.532991